body {
  background-color: rgb(146, 184, 90);
  display: grid;
  grid-template-columns: 1fr minmax(auto, 300px) minmax(auto, 700px) 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    ". header header ."
    ". aside main ."
    ". footer footer .";
}

header {
  padding: 0 5%;
  position: relative;
  display: block;
  grid-area: header;
}

header ul  {
  display: flex;
  justify-content: space-around;
  background-color: rgb(146, 184, 90);
  padding: 3px 0; 
  margin-top: 0;
}

header ul li{
  display: block;
  background-color: rgb(117, 148, 72);
  width: 50%;
  margin-top: 0.5%;
  margin-right: 0.5%;
  padding: 1%;
  text-align: center;
}
header ul li a {
  text-decoration: none;
  color: white;
}

header p{
  display: none;
}

header .site-banner{
  padding-left:  3%;
}


main {
  background-color: white;
  grid-area: main;
}

main h1 {
  text-align: center;
}
main a {
  color: rgb(146, 184, 90);
}
main h3 {
  color: rgb(146, 184, 90);
}
main p {
  text-align: left;
}
main article {
  padding: 1%;
}
main article picture.lfloat{
  float: left;
  padding-right: 5px;
}

main article picture.rfloat{
  float: right;
  padding-left: 5px;
}


main ul#workshops-links{
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: block;
  flex-basis: 100px;
  margin: 1%;
  background-color: rgb(117, 148, 72);
  padding: 1%;
  text-align: center;
}

main ul#workshops-panels{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

main ul#workshops-panels li{
  display: block;
  flex-basis: 100px;
  margin: 3%;
  background-color: rgb(117, 148, 72);
  padding: 2%;
  min-height: 120px;
  text-align: center;
  position: relative;
}

main ul#workshops-panels li a{
  color: white;
  text-decoration: none;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
}

main #previous-table {
  border: 1px solid grey;
  border-collapse: collapse;
}
main #previous-table tr td{
  border: 1px solid grey;
}
main #previous-table tr:nth-child(2n){
  background-color:khaki;
}

main iframe{
  width: 100%;
  height: 150%;
}

aside#sidebar {
  grid-area: aside;
  /* display: inlineblock; */
  background-color: white;
  /* width: 16.5%; */
  padding: 0.5%;

}
aside#sidebar h2 {
  color: rgb(146, 184, 90);
  text-align: center;
  margin: 0;
  padding-top: 5%;
  transform: rotate(180deg);
}
aside#sidebar #searchform fieldset {
  margin: 0;
  padding: 0;
  border-width: 0;
  text-align: center;
}

aside#sidebar nav > ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(146, 184, 90);
  height: 100%;
  padding-left: 0;
  padding-bottom: 0;
  color: white;
}
aside#sidebar nav > ul > li  {
  display: flex;
  padding: 5px 10px;
  color: rgb(117, 148, 72);
}

aside#sidebar nav ul li:hover{
  background-color:  rgb(117, 148, 72);
 }

aside#sidebar nav a{
  color: white;
  text-decoration: none;
}

aside#sidebar #sponsors{
  top: 40%;
  right: 22px;
  background-color: bisque;
}

aside#sidebar #sponsors > a {
  margin-right: 21%;
}
aside#sidebar #sponsors h2 {
  padding-bottom: 5%;
}


footer {
  grid-area: footer;
  text-align: center;
  background-color: white;
  padding-bottom: 0.7%;
  /* clear: both; */
}
footer p {
  padding-top: 0.5%;
}
footer p > a {
  color: rgb(146, 184, 90);
}

@media print {
  header,
  aside#sidebar,
  footer{
    display: none;
  }
}

@media (max-width: 850px){
  aside#sidebar #sponsors{
    position: static;
    border: 0;
    width: initial;
    padding: 0;
  }
}

@media (max-width: 550px){
  header nav ul {
    flex-direction: column;
  }
}

@media(max-width: 735px){
  body{
    max-width: 100%;
    background-color: rgb(146, 184, 90);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
      "header"
      "main"
      "aside"
      "footer";
  }
  main #previous-table th:first-child, td:first-child{
    display: none;
  }
}

@media (max-width: 1000px){
  header .header-foto, .site-banner{
    display: none;
  }
  header p{
    display: block;
  }
}